/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   */

   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed, 
   figure, figcaption, footer, header, hgroup, 
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
   	margin: 0;
   	padding: 0;
   	border: 0;
   	font-size: 100%;
   	font: inherit;
   	vertical-align: baseline;
   }
   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure, 
   footer, header, hgroup, menu, nav, section {
   	display: block;
   }
   body {
   	line-height: 1;
   }
   ol, ul {
   	list-style: none;
   }
   blockquote, q {
   	quotes: none;
   }
   blockquote:before, blockquote:after,
   q:before, q:after {
   	content: '';
   	content: none;
   }
   table {
   	border-collapse: collapse;
   	border-spacing: 0;
   }

   /* Main Style */

   *, *:after, *:before {
   	-webkit-box-sizing: border-box;
   	-moz-box-sizing: border-box;
   	box-sizing: border-box;
   }

   body{
   	/* color: #333; */
   	height: auto;
   	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   	height: auto;
   	overflow-x: hidden;
   	background-color: #888888;
   }

   .clearfix::after, section::after {
   	content: "";
   	clear: both;
   	display: table;
   }

   /* Colors */

   .grey-5{
   	background: #777777;
   }

   .grey-4{
   	background: #666666;
   }
   .grey-3{
   	background: #555555;
   }
   .grey-2{
   	background: #444444;
   }
   .grey-1{
   	background: #333333;
   }

   /* Navbar */

   .section-one{
   	width: 100%;
   	height: 100px;
   	position: relative;
   	text-align: center;
   }

   .section-one .nav-item{
   	color: #fff;
   	padding: 10px;
   	font-size: 1.3rem;
   	font-weight: bold;
   	background: #333333;
   }

   .section-one .col-1-6{
   	padding-top: 40px;
   }
   /* Sections */

   section{
   	width: 100%;
   	height: auto;
   }

   .section-two h1{
   	position: absolute;
   	left: 50%;
   	top: 125px;
   	margin-left: -169.5px;
   	text-align: center;
   	font-size: 1.5rem;
		 font-weight: bold;
		 color: #ffffff;
   }
   .section-two h1 span.title-1{
   	display: inline-block;
   	background: #333333;
   	padding: 10px;
   }

   .section-two h1 span.title-2{
   	display: inline-block;
   	background: #333333;
   	padding: 10px;
   }
   .section-two .h2{
   	font-size: 1rem;
   	font-weight: bold;
   	background: #333333;
   	color: #fff;
   	position: relative;
   	margin: 100px 0 0 20%;
   	width: 300px;
   	padding: 10px;
   }
   .section-two .h2 span{
   	font-style: italic;
   	font-weight: 100;
   }

   .section-two div div:last-child{
   	font-size: 1.8rem;
   	font-weight: bold;
   	background: #333333;
   	color: #fff;
   	position: relative;
   	/* display: inline-block; */
   	margin: 10px 0 0 20%;
   	width: 450px;
   	padding: 10px;
   }

   .section-three .h2{
   	font-size: 1.25rem;
   	font-weight: bold;
   	background: #555555;
   	color: #fff;
   	position: relative;
   	margin: 50px 0 0 10px;
   	width: 80%;
   	padding: 10px;
   }
   .section-three .h2 span{
   	font-style: italic;
   	font-weight: 100;
   	font-size: 1.1rem;
   	display: block;
   	margin-top: 10px;
   }

   .section-three ul li{
   	line-height: 2;
   	list-style-type: disc;
   	margin-left: 10px;
   }

   .section-three .h2 span.guide{
   	font-style: normal;
   	font-weight: 100;
   	font-size: 1.1rem;
   	display: block;
   	margin-top: 0;
   	margin-bottom: 10px;
   }

   .section-three div div:last-child{
   	font-size: 1rem;
   	font-weight: 100;
   	background: #555555;
   	color: #fff;
   	position: relative;
   	margin: 10px 0 0 10px;
   	width: 90%;
   	padding: 10px;
   	line-height: 1.5;
   }

   .section-three .special div:last-child,
   .section-three .special h1:first-child,
   .section-three .special p{
   	margin: 0 auto;
   }

   .section-three .special{
   	text-align: center;
   }

   .section-three .special h1:first-child{
   	font-size: 2rem;
   	font-weight: bold;
   	background: #333333;
   	color: #fff;
   	position: relative;
   	margin-top: 40px;
   	width: 60%;
   	padding: 10px;
   	line-height: 1.5;
   }

   .section-three .special p{
   	font-size: 1rem;
   	font-weight: 100;
   	background: #333333;
   	color: #fff;
   	position: relative;
   	margin-top: 10px;
   	width: 60%;
   	padding: 10px;
   	line-height: 1.5;
   }

   .section-three .special div:last-child{
   	font-size: 1rem;
   	font-weight: bold;
   	background: #333333;
   	color: #fff;
   	position: relative;
   	margin-top: 20px;
   	width: 30%;
   	padding: 10px;
   	line-height: 1.5;
   }

   /* Columns */

   [class*="col-"] {
   	float: left;
   	padding: 15px;
   	border: 1px solid #333333;
   }

   .col-1-6 {width: 16.66%;}
   .col-1-4 {width: 25%;}
   .col-1-3 {width: 33.33%;}
   .col-2-3 {width: 66.66%;}
   .col-1-2 {width: 50%;}

   .col-1-2{
   	height: 400px;
   }

   .col-1-3{
   	height: 400px;
   }

   .col-1-4{
   	height: auto;
   }

   .col-1-5{
   	height: auto;
   }

   .col-1-6{
   	height: 100%;
   }

   .col-2-3{
   	height: 400px;
   }



   /* Section Four*/
   .section-four {
   	background-color: #cacdd1;
   	height: 1008.69px;
   	text-align: center;
   	box-sizing: border-box;
   	padding-top: 100px;
   }

   .section-four p {
   	box-sizing: border-box;
   	height: auto;
   	margin-bottom: 32px;	
   	border-color: transparent;	
   }

   .section-four p:nth-of-type(1) {
   	font-size: larger;
   	text-transform: uppercase;
   	background-color: #555555;
   	color: white;
   	 width: fit-content;
   	  margin-left: auto;
     margin-right: auto;
    
   }

   .section-four p:nth-of-type(2) {
   	margin: 32px 25% 50px 25%;
   	font-size: x-large;
   	background-color: #777777;
   	color: white;
   	font-family: 'Lato', sans-serif;
   }

   .section-four h1 {
   	box-sizing: border-box;
   	font-size: -webkit-xxx-large;
   	text-decoration: underline;
   	background-color: #333333;
   	color: white;
   	font-family: 'Lato', sans-serif;
   	 width: fit-content;
     margin: 0px auto;
   }

   .section-four button {
   	width: 373px;
   	height: 66px;
   	border-radius: 5px;
   	font-size: larger;
   	background-color: #444444;
   	color: white;
   }

   /* Secton - five*/
   .section-five {
   	height: 1584px;
   	padding: 60px 5%;
   }

   .person-of-the-week {
   	height: 246px;
   	display: flex;
   }
   .person-of-the-week div:nth-of-type(1) {
   	width: 25%;
   	background-color: #333333;
   	height: inherit;
   }

   .person-of-the-week div:nth-of-type(2) {
   	width: 75%;
   	background-color: #cacdd1;
   	height: inherit;
   	padding-left: 20px;
   }

   .person-of-the-week div:nth-of-type(2) h4{
   	margin-top: 25px;
   	margin-bottom: 35px;
   	background-color: #777777;
   	color: white;
   	width: fit-content;
   }

   .person-of-the-week div:nth-of-type(2) p {
   	width: fit-content;
   	background-color:#666666;
   	color: white;
   }

   .community-links {
   	height: auto;
   	display: inline-block;
   }

   .community-links div {
   	border-color: transparent;
   }


   .commnity-article-container {
   	background-color: #777777;
   	width: 548px;
   	height: 229px;
   	margin: 63px 0px;
   	display: flex;
   	color: white;
   }

   .author-image {
   	width: 65%;
   	height: inherit;
   	background-color: #444444;
   }

   .article-info p:nth-of-type(1) {
   	font-size: larger;
   	margin: 20px 0px;
   	background-color:#555555;
   	color: white;
   	width: fit-content;
   	box-sizing: border-box;
   }

   .article-info h1 {
   	font-size: x-large;
   	font-weight: bolder;
   	margin-top: 5px;
   	margin-bottom: 20px;
   	background-color: #333333;
   	color: white;
   	box-sizing: border-box;
   	width: fit-content;
   }

   .article-info a {
   	color: white;
   }
   /* Border */

   .border{
   	border: #333 solid 1px;
   }

   /*section 6*/

   .section-six {
   	width: 100%;
   	height: 422.5px;
   	background-color: #777777;
   	padding: 40px 5%;
   }

   .featured-box h1 {
   	font-size: -webkit-xxx-large;
   	text-decoration: underline;
   	margin: 30px 0px;
   	background-color: #333333;
   	width: fit-content;
   	color: white;
   	font-family: 'Lato', sans-serif;
   }

   .featured-box p {
   	font-size: larger;
   	margin-top: 20px;
   	width: 55%;
   	background-color: #555555;
   	color: white;
   }

   .featured-box p:nth-of-type(1) {
   	width: fit-content;
   }

   .featured-box button {
   	width: 274px;
   	height: 66px;
   	font-size: x-large;
   	    margin: 30px 0px;
   	    background-color: #444444;
   }
   .featured-box a {
   	text-decoration: none;
   	color: black;
   	font-size: initial;
   }

   /*Footer*/
   footer {
   	width: 100%;
   	height:100vh;
   	padding: 40px 8%;
   	background-color:#cacdd1;
   }

   .footer-content {
   	width: 100%;
   	height: 100%;
   }

   .footer-content p {
   	 margin-top: 60px;
     width: 40%;
   	 text-align: center;
   	 position: relative;
   	 background-color: #777777;
    left: 30%;
    color: white;

   }

    .footer-content h1 {
   	margin: 40px auto;
   	text-align: center;
   	background-color: #555555;
   	width: fit-content;
 	color: white;

   }

   .link-box {
   	width: 100%;
   	font-size: x-large;
   	background-color: #555555;
   	color: white;
   }

   .link-box a {
  	color: black;
  	text-decoration: none;
   }

   .link-box ul {
   	display: flex;
   	width: inherit;
   	flex-wrap:wrap;
   	text-align: center;
   	justify-content: center;
 	color: white;

   }

   .link-box li {
   	list-style-type: disc;
     padding-right: 35px;
     padding-bottom: 25px;
   }

   .footer-links {
   	width: 40%;
    margin-left: 30%;
    text-align: center;
    margin-top: 40px;
    background-color: #777777;
    
   }

   .footer-links a {
   	color: white;
   }

  